<app-home></app-home>
<app-navbar></app-navbar>
<app-topbanner></app-topbanner>
<app-categorymenu></app-categorymenu>
<app-searchbar></app-searchbar>




<!-- <app-lab4></app-lab4> -->
<!-- <app-ngforandngif></app-ngforandngif> -->
<!-- <div>
    <app-counting [keyword] ="'Counting component 1'"></app-counting>
    <br/>
    <app-counting [keyword] ="'Counting component 2'"></app-counting> 
    </div>-->
<!-- <app-home></app-home> -->

<!-- <div>
    <app-home [title] ="'home component 1'"></app-home>
    <app-home [title] ="'home component 2'"></app-home>
    <app-home [title] ="'home component 3'"></app-home>
    <app-home [title] ="'home component 4'"></app-home>
</div> -->